* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  color: white;
}

button{
  margin : 20px;
  padding : 10px 20px;
  font-size: medium;
 

}
h1{
  margin: 20px;
  padding: 10px 50px;
  font-size: xx-large;
  background-color: antiquewhite;
  width: fit-content;
  color: blue;
  font-size: 100px;
  margin-left: 80px;
}