* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #111;
  display: flex;
  
}


.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Card{
  height: 350px;
  width: 290px;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top img {
    margin-top: 20px;
    height : 40px;
    width : 40px;
    border-radius : 50%;
    border : 2px solid black;
    margin-left : 15px;
}
.top button{
    margin-top: 20px;
  margin-right : 10px;
  padding : 10px 15px;
  border : none;
  border-radius : 10px;
  background-color: #111;
  color: #fff;
  font-weight : bold;
  cursor : pointer;
  display: flex ;
  align-items: center;

}
.center{
  display: flex;
  flex-direction: column;
  padding : 0 20px;
}

.tags{
  display: flex;
  gap : 8px;
  margin-top : 5px;
}
.company{
  display:  flex;
  align-items: center;
  gap : 5px;
  
}
.company span{
  font-size : 12px;
  color : gray;
}
.center h4{
  border-radius: 20px;
  background-color: rgba(238, 229, 229, 0.904);
  display: flex;
  margin : 10px 0;
  padding : 5px 10px;
  width: fit-content;
  font-size : 12px;
  color: #111;
}
.center h2{
  margin-top : 2px;
  font-size : 20px;
  color : black;
}

.bottom{
 margin-bottom: 15px;
  padding : 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gray;
}
.bottom h3{
  font-size : 18px;
  font-weight : 500px;
  color : black;
}
.bottom p{
  color: #111;
  font-size : 16 px;
}
.bottom button{
  padding : 10px 15px;
  border : none;
  border-radius : 10px;
  background-color: #111;
  color: #fff;
  font-weight : bold;
  cursor : pointer;
}
