* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #111;
  display: flex;
  color: white;
}
input, button {
  font-size: 1.2rem;
  padding: 0.5rem;
}